<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <div class="btn btn-edit" style="width: 150px; margin-top: 20px;">
      <a href="/movies">Listado de Pelis</a>
  </div>
  </body>
</html>
